<div class="login form-wrapper">
    <%= form_for(:session, url: login_path) do |f| %>

    <dl>
        <dt>メールアドレス</dt>
        <dd> <%= f.email_field :email, class:'form-control' %></dd>
    </dl>
    <dl>
        <dt>パスワード</dt>
        <dd><%= f.password_field :password, class:'form-control' %></dd>
    </dl>
    <div class="text-center">
    <%= f.submit "ログイン", class: "btn btn-login" %>
    </div>
    <% end %>
    <div class="guest-btn">
        <%= link_to 'ゲストユーザーログイン', guest_login_path, class: 'btn', method: :post %>
      </div>
    
     <p>初めてのご利用ですか? <%= link_to "新規登録はこちら", signup_path %></p>
</div>