
<li class="post-item col-md-6" id="cafepost-<%= cafepost.id %>" data-cafepost-id="<%= cafepost.id %>">
  <%= link_to(cafepost, class: "post-link") do %>
  <div id="cell">
    <div class="cafepost-thumbnail">
      <%= link_to(cafepost, class: "post-item-link") do %>
        <% if cafepost.image.url.nil? %>
        <%= image_tag "noimage.png", alt: "thumbnail" %>
        <% else %>
        <%= image_tag cafepost.image.thumb.url, alt: "thumbnail"%>
        <% end %>
      <div class="mask">
  		<div class="caption">クリックして詳細を表示</div>
  	　</div>
      <% end %>
        <div class="post-tag">
        <%= render "cafeposts/tag_list", tag_list: cafepost.tag_list %>
      </div>
    </div>
    <h2 class="post-title"><%= cafepost.title%></h2>
    
    <p class="post-content"><%= cafepost.content %></p>
    <div class="wifi-power">
      <%= render "favorites/favorite_form", cafepost: cafepost %>
      <% if cafepost.wifi %>
      <p><%= icon('fas', 'wifi fa-lg icon-m') %>Wifiあり</p>
      <% else %>
      <p>Wifiなし</p>
      <% end %>
      
      <% if cafepost.power %>
      <p><%= icon('fas', 'plug fa-lg icon-m') %>電源あり</p>
      <% else %>
      <p>電源なし</p>
      <% end %>
    </div>
    <div class="address_all">
      <%= icon('fas', 'map-marker-alt') %>
      <div class="address">
        <p class="address"><%= cafepost.address_all %></p>
      </div>
    </div>
    
    <%= link_to cafepost do %>
    <p>コメント(<%= cafepost.comments.count %>)</p>
    <% end %>
  
  
    <div class="post-bottom">
      　<%= link_to(cafepost.user, class: "post-profile") do %>
        <% unless cafepost.user.image.nil? %>
          <%= image_tag cafepost.user.image.to_s %>
        <% end %>
        <div class="user-name">
          <%= cafepost.user.name%>
        </div>
        <% end %>
        
      <div class="delete-edit">
        <% if good_user?(cafepost.user) %>
        <%= link_to cafepost, method: :delete, data: { confirm: "本当に削除しますか？" } do %>
        <%= icon('fas', 'trash-alt fa-lg') %>
        <% end %>
        
        <%= link_to edit_cafepost_path(cafepost) do %>
        <%= icon('fas', 'edit fa-lg') %>
        <% end %>
        
        <% end %>
      </div>
      <div class="timestamp">
         <%= time_ago_in_words(cafepost.created_at) %>前
      </div>
    </div>
    
  </div>
  <% end %>
</li>
  
