<%= search_form_for(@q, url:cafeposts_path) do |f| %>
<div class="search-form-wrapper">
  <div class="search-form-item cp_iptxt">
    <%= f.search_field :title_or_address_all_cont, placeholder: "", class: "ef" %>
    <%= f.label :title_or_address_all_cont, '店名か場所で探す' %>
  </div>
  
  <div class="search-form-item">
    <%= f.radio_button :wifi_eq, 1, class: "radio wifi" %>
    <%= f.label :wifi_eq_1, 'Wifi', class: "labeling" %>
  </div>
  
  <div class="search-form-item">
    <%= f.radio_button :power_eq, 1, class: "radio powoer" %>
    <%= f.label :power_eq_1, '電源', class: "labeling" %>
  </div>
    <%= f.submit "検索", class: "s-btn" %>
  <% end %>
</div>