<%= search_form_for(@q, url:search_path) do |f| %>
<div class="search-form-wrapper">
  <div class="search-form-item">
    <%= f.label :title_or_address_all_cont, '店名か場所で探す' %>
    <%= f.search_field :title_or_address_all_cont, placeholder: "〇〇カフェ or 東京都千代田区" %>
  </div>
  
  <div class="search-form-item">
    <span>Wifi</span>
    <%= f.radio_button :wifi_eq, 1, class: "radio" %>
  </div>
  
  <div class="search-form-item">
  <span>電源</span>
    <%= f.radio_button :power_eq, 1, class: "radio" %>
    <%= f.submit %>
  </div>
  <% end %>
</div>