<div class="form-wrapper">
  <%= form_for(@cafepost) do |f| %>
    <%= render 'shared/errors', object: f.object %>
  
      <div id="img_field" onClick="$('#file').click()" >
        <% if @cafepost.image.url.present? %>
          <%= image_tag(@cafepost.image.url) %>
        <% else %>
          <i class="fas fa-image"></i><i class="fas fa-file-upload add"></i>
        <% end %>
      </div>
      <%= f.file_field :image, id: "file" %>
      <dl>
        <dt>店名</dt>
        <dd><%= f.text_field :title %></dd>
      </dl>
      <dl>
        <dt>紹介文</dt>
        <dd><%= f.text_field :content %></dd>
      </dl>
      
      <dl>
        <dd>WiFi <%= f.check_box :wifi, :as => :boolean %></dd>
        <dd>コンセント <%= f.check_box :power, :as => :boolean %></dd>
      </dl>
      
      <h2>カフェの住所</h2>
      
      <dl>
        <dt>郵便番号</dt>
        <dd><%= f.text_field :postcode %></dd>
      </dl>
      <dl>
        <dt>住所</dt>
        <dd><%= f.text_field :address_all %></dd>
      </dl>
    <%= f.submit "保存", class: 'btn btn-post' %>
  <% end %>
</div>