
<div class="container">
  <h1 class="head">ノマドカフェを探す</h1>
  <p>検索</p>
  <%= form_tag(cafeposts_path,:method => 'get') do %>
    <%= text_field_tag :search %>
    <%= submit_tag 'Search', :name => nil %>
  <% end %>
  <ul class="tabnav">
    <li><a href="#tab01">新着</a></li>
    <li><a href="#tab02">人気</a></a></li>
  </ul>
  <div class="tabcontent">
    <div id="tab01">
      <ul class="post-items">
        <%= render @cafeposts %>
      </ul>
      <%= paginate @cafeposts %>
    </div>
    
    <div id="tab02">
      <ul class="post-items">
        <%= render @favorite_ranks %>
      </ul>
    </div>
  </div>
</div>