<%= form_for(@cafepost) do |f| %>
  <%= render 'shared/errors', object: f.object %>
  <div>
    <p>タイトル</p>
    <%= f.text_area :title, class: 'form-control' %>
    <p>内容</p>
    <%= f.text_area :content, class: 'form-control' %>
  </div>
  <%= f.submit "投稿" %>
<% end %>