<div class="form-wrapper">
  <%= form_for(@cafepost) do |f| %>
    <%= render 'shared/errors', object: f.object %>
    <div>
      <dl>
        <dt>サムネイル</p>
        <dd><%= f.file_field :image %></dd>
      </dl>
      <dl>
        <dt>店名</dt>
        <dd><%= f.text_field :title %></dd>
      </dl>
      <dl>
        <dt>紹介文</dt>
        <dd><%= f.text_field :content %></dd>
      </dl>
      
      <dl>
        <dd>wifi <%= f.check_box :wifi, :as => :boolean %></dd>
      </dl>
      
      <h2>カフェの住所</h2>
      
      <dl>
        <dt>郵便番号</dt>
        <dd><%= f.text_field :postcode %></dd>
      </dl>
      <dl>
        <dt>県名</dt>
        <dd><%= f.text_field :prefecture_code, collection: JpPrefecture::Prefecture.all, :value_method => :name, include_blank: '都道府県' %></dd>
      </dl>
      <dl>
        <dt>市</dt>
        <dd><%= f.text_field :address_city %></dd>
      </dl>
      <dl>
        <dt>番地</dt>
        <dd><%= f.text_field :address_street %></dd>
      </dl>
      <dl>
        <dt>建物名</dt>
        <dd><%= f.text_field :address_building %></dd>
      </dl>
    </div>
    <%= f.submit "投稿", class: 'btn btn-post' %>
  <% end %>
</div>