<h1>検索結果</h1>

<ul class="post-items">
  <% @cafeposts_search.each do |cafepost| %>
  <li class="post-item" id="cafepost-<%= cafepost.id %>" data-cafepost-id="<%= cafepost.id %>">
  <%= link_to(cafepost, class: "post-item-link") do %>
    <% if cafepost.image.url.nil? %>
    <%= image_tag "noimage.png", alt: "thumbnail" %>
    <% else %>
    <%= image_tag cafepost.image.thumb.url, alt: "thumbnail"%>
    <% end %>
  <% end %>
  <h3 class="post-title"><%= cafepost.title%></h3>
  <div class="wifi-power">
    <% if cafepost.wifi %>
    <p><%= icon('fas', 'wifi fa-2x') %></p>
    <% end %>
    <% if cafepost.power %>
    <p><%= icon('fas', 'plug fa-2x') %></p>
    <% end %>
  </div>
  <p class="post-content"><%= cafepost.content %></p>
  <div class="address_all">
    <%= icon('fas', 'map-marker-alt') %>
    <div class="address">
      <p class="post-postcode">〒<%= cafepost.postcode %></p>
      <p class="address"><%= cafepost.address_all %></p>
    </div>
  </div>
  <div class="post-tag">
    <%= icon('fas', 'tags') %>
    <%= render "cafeposts/tag_list", tag_list: cafepost.tag_list %>
  </div>
  <%= render "favorites/favorite_form", cafepost: cafepost %>
  <%= link_to cafepost do %>
  <p>コメント(<%= cafepost.comments.count %>)</p>
  <% end %>
  <div class="post-profile">
    <% unless cafepost.user.image.nil? %>
      <%= link_to cafepost.user do %>
      <%= image_tag cafepost.user.image.profile_image.url %>
      <% end %>
    <% end %>
    <div class="user-name">
      <%= link_to cafepost.user.name, cafepost.user %>
    </div>
  </div>
  <% if good_user?(cafepost.user) %>
  <%= link_to cafepost, method: :delete, data: { confirm: "本当に削除しますか？" } do %>
  <%= icon('fas', 'trash-alt fa-2x') %>
  <% end %>
  <%= link_to edit_cafepost_path(cafepost) do %>
  <%= icon('fas', 'edit fa-2x') %>
  <% end %>
  <% end %>
  <div class="timestamp">
     <%= time_ago_in_words(cafepost.created_at) %>前
  </div>
</li>
  <% end %>
</ul>

<%= paginate @cafeposts_search %>