<div class="post-wrap" id="cafepost-<%= @cafepost.id %>">
  <div class="post-name">
    <h1><%= @cafepost.title %></h1>
  </div>
  <div class="post-detail">
    <div class="post-detail-left">
      <% if @cafepost.image.url.nil? %>
      <%= image_tag 'noimage.png' %>
      <% else %>
      <%= image_tag @cafepost.image.url %>
      <% end %>
    </div>
    <div class="post-detail-right">
      <div class="post-user-detail">
        <%= image_tag @cafepost.user.image.url %>
        <p><%= link_to @cafepost.user.name, @cafepost.user %></p>
      </div>
      <p class="post-time">
        <%= icon('fas', 'clock') %>
        <%= @cafepost.updated_at.strftime("%Y/%m/%d") %>
      </p>
      <p class="post-content"><%= @cafepost.content %></p>
      <div class="wifi-power">
    <% if @cafepost.wifi %>
    <p><%= icon('fas', 'wifi fa-lg icon-m') %>Wifiあり</p>
    <% else %>
    <p>Wifiなし</p>
    <% end %>
    <% if @cafepost.power %>
    <p><%= icon('fas', 'plug fa-lg icon-m') %>電源あり</p>
    <% else %>
    <p>電源なし</p>
    <% end %>
  </div>
   <div class="address_all">
    <%= icon('fas', 'map-marker-alt fa-lg') %>
    <div class="address">
      <p class="address"><%= @cafepost.address_all %></p>
    </div>
  </div>
   <div class="post-detail-favorite">
        <%= render "favorites/favorite_form", cafepost: @cafepost %>
   </div>
        
    </div>
  </div>
  
  
  <ul class="tabnav post-tabnav">
    <li><a href="#tab01">コメント一覧</a></li>
    <li><a href="#tab02">マップ</a></a></li>
  </ul>
  <div class="tabcontent">
    <div id="tab01">
      <div>コメント(<%= @comments.count %>)</div>
  <%= render 'comments/index', { comments: @comments } %>
  

    <%= form_with(model: [@cafepost, @comment]) do |f| %>
      <%= f.text_area :content %>
      <%= f.hidden_field :cafepost_id, value: @cafepost.id %>
      <br>
      <%= f.submit 'コメントする', class: "btn btn-comment" %>
    <% end %>

    </div>
    
    <div id="tab02">
        <div id="map"></div>
    </div>
  </div>
  
  
  
  
</div>


<script type="text/javascript">
$(document).ready(function () {
    handler = Gmaps.build('Google');
    handler.buildMap({
    provider: {},
    internal: {id: 'map'}},
    function() {
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setCenter(new google.maps.LatLng(<%= @cafepost.latitude %>, <%= @cafepost.longitude %>));
    handler.getMap().setZoom(13);
  });
});
</script>

