<div class="post-wrap">
  <div class="post-name">
    <h1><%= @cafepost.title %></h1>
  </div>
  <div class="post-detail">
    <div class="post-detail-left">
      <% if @cafepost.image.url.nil? %>
      <%= image_tag 'noimage.png' %>
      <% else %>
      <%= image_tag @cafepost.image.url %>
      <% end %>
    </div>
    <div class="post-detail-right">
      <div class="post-user-detail">
        <%= image_tag @cafepost.user.image.thumb23.url %>
        <p><%= link_to @cafepost.user.name, @cafepost.user %></p>
      </div>
      <p class="post-time">
        <%= icon('fas', 'clock') %>
        <%= @cafepost.updated_at.strftime("%Y/%m/%d") %>
      </p>
      <div class="address_all">
    <%= icon('fas', 'map-marker-alt') %>
    <div class="address">
      <p class="post-postcode">〒<%= @cafepost.postcode %></p>
      <p class="address"><%= @cafepost.address_all %></p>
    </div>
  </div>
      <p class="post-content"><%= @cafepost.content %></p>
      <% if @cafepost.wifi %>
      <%= icon('fas', 'wifi fa-2x') %>
      <% end %>
      <% if @cafepost.power %>
      <%= icon('fas', 'plug fa-2x') %>
      <% end %>
    </div>
  </div>
  
  <h2>コメント一覧</h2>
  <div>コメント(<%= @comments.count %>)</div>
  <%= render 'comments/index', { comments: @comments } %>
  
  <% if logged_in? %>
    <%= form_with(model: [@cafepost, @comment]) do |f| %>
      <%= f.text_area :content %>
      <%= f.hidden_field :cafepost_id, value: @cafepost.id %>
      <br>
      <%= f.submit 'コメントする' %>
    <% end %>
  <% end %>
  
</div>


<script type="text/javascript">
$(document).on('turbolinks:load', 
  function initMap() {
    var test = {lat: <%= @cafepost.latitude %>, lng: <%= @cafepost.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15, 
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentHTML = '<p><%= @cafepost.title%></p><p>場所：<%= @cafepost.address_all %></p>';
    var infowindow = new google.maps.InfoWindow({
      content: contentHTML
    });

    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentHTML
                 });

     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  });
</script>

  <div id="map"></div>




<style type="text/css">
  #map { height: 300px;
         width: 70%;
         margin: 0 auto;
  }
</style>

