<div class="post-wrap">
  <div class="post-image">
    <% if @cafepost.image.url.nil? %>
    <%= image_tag 'noimage.png' %>
    <% else %>
    <%= image_tag @cafepost.image.url %>
    <% end %>
  </div>
  <div class="post-detail">
    <div class="post-detail-left">
      <div class="post-user-detail">
        <%= image_tag @cafepost.user.image.thumb23.url %>
        <p><%= link_to @cafepost.user.name, @cafepost.user %></p>
      </div>
      <p class="post-time">
        <%= @cafepost.updated_at.strftime("%Y/%m/%d") %>
      </p>
      <p class="post-postcode">〒<%= @cafepost.postcode %></p>
      <p class="post-address">
        <%= @cafepost.address_all %>
      </p>
    </div>
    <div class="post-detail-right">
      <p class="post-content"><%= @cafepost.content %></p>
      <% if @cafepost.wifi %>
      <p><%= icon('fas', 'wifi fa-2x') %></p>
      <% end %>
      <% if @cafepost.power %>
      <p><%= icon('fas', 'plug fa-2x') %></p>
      <% end %>
    </div>
  </div>
  
  <h2>コメント一覧</h2>
  <div>コメント(<%= @comments.count %>)</div>
  <% @comments.each do |c| %>
    <div>
      <%= link_to c.user.name, user_path(c.user) %>
      <%= c.content %>
      <hr>
    </div>
  <% end %>
  
  <%= form_for [@cafepost, @comment] do |f| %>
    <%= f.text_field :content %>
    <%= f.hidden_field :cafepost_id, value: @cafepost.id %>
    <br>
    <%= f.submit 'コメントする' %>
  <% end %>
  
</div>


<script type="text/javascript">
$(document).on('turbolinks:load', 
  function initMap() {
    var test = {lat: <%= @cafepost.latitude %>, lng: <%= @cafepost.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15, 
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentHTML = '<p><%= @cafepost.title%></p><p>場所：<%= @cafepost.address_all %></p>';
    var infowindow = new google.maps.InfoWindow({
      content: contentHTML
    });

    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentHTML
                 });

     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  });
</script>

  <div id="map"></div>




<style type="text/css">
  #map { height: 300px;
         width: 70%;
         margin: 0 auto;
  }
</style>

