<div class="post-wrap">
  <div class="post-image">
    <% if @cafepost.image.url.nil? %>
    <%= image_tag 'noimage.png' %>
    <% else %>
    <%= image_tag @cafepost.image.url %>
    <% end %>
  </div>
  <div class="post-detail">
    <div class="post-detail-left">
      <div class="post-user-detail">
        <%= image_tag @cafepost.user.image.thumb23.url %>
        <p><%= link_to @cafepost.user.name, @cafepost.user %></p>
      </div>
      <p class="post-time">
        <%= @cafepost.updated_at.strftime("%Y/%m/%d") %>
      </p>
      <p class="post-postcode">〒<%= @cafepost.postcode %></p>
      <p class="post-address">
        <%= @cafepost.prefecture_code %>
        <%= @cafepost.address_city %>
        <%= @cafepost.address_street %>
        <%= @cafepost.address_building %>
      </p>
    </div>
    <div class="post-detail-right">
      <p class="post-content"><%= @cafepost.content %></p>
      <% if @cafepost.wifi %>
      <p>wifiあります</p>
      <% end %>
      <% if @cafepost.power %>
      <p>コンセントあります</p>
      <% end %>
    </div>
  </div>
  
  <h2>コメント一覧</h2>
  <% @comments.each do |c| %>
    <div>
      <a href="/users/<%= @cafepost.user.id %>"><%= c.user.email %></a>
      <%= c.content %>
      <hr>
    </div>
  <% end %>
  
  <%= form_for [@cafepost, @comment] do |f| %>
    <%= f.text_field :content %>
    <%= f.hidden_field :cafepost_id, value: @cafepost.id %>
    <br>
    <%= f.submit 'コメントする' %>
  <% end %>
</div>