<div class="post-wrap">
  <div class="post-name">
    <h1><%= @cafepost.title %></h1>
  </div>
  <div class="post-detail">
    <div class="post-detail-left">
      <% if @cafepost.image.url.nil? %>
      <%= image_tag 'noimage.png' %>
      <% else %>
      <%= image_tag @cafepost.image.url %>
      <% end %>
    </div>
    <div class="post-detail-right">
      <div class="post-user-detail">
        <%= image_tag @cafepost.user.image.profile_top.url %>
        <p><%= link_to @cafepost.user.name, @cafepost.user %></p>
      </div>
      <p class="post-time">
        <%= icon('fas', 'clock') %>
        <%= @cafepost.updated_at.strftime("%Y/%m/%d") %>
      </p>
      <p class="post-content"><%= @cafepost.content %></p>
        <%= render "favorites/favorite_form", cafepost: @cafepost %>
        <% if @cafepost.wifi %>
        <span class="tag-list post-conent-wifi"><%= icon('fas', 'wifi fa-2x') %>Wifiあり</span>
        <% else %>
        <span class="tag-list post-conent-wifi">Wifiなし</span>
        <% end %>
        <% if @cafepost.power %>
        <span class="tag-list post-conent-power"><%= icon('fas', 'plug fa-2x') %>コンセントあり</span>
        <% else %>
        <span class="tag-list post-conent-power">コンセントなし</span>
        <% end %>
   <div class="address_all">
    <%= icon('fas', 'map-marker-alt fa-2x') %>
    <div class="address">
      <p class="post-postcode">〒<%= @cafepost.postcode %></p>
      <p class="address"><%= @cafepost.address_all %></p>
    </div>
  </div>
    </div>
  </div>
  
  
  <ul class="tabnav">
    <li><a href="#tab01">コメント一覧</a></li>
    <li><a href="#tab02">マップ</a></a></li>
  </ul>
  <div class="tabcontent">
    <div id="tab01">
      <div>コメント(<%= @comments.count %>)</div>
  <%= render 'comments/index', { comments: @comments } %>
  
  <% if logged_in? %>
    <%= form_with(model: [@cafepost, @comment]) do |f| %>
      <%= f.text_area :content %>
      <%= f.hidden_field :cafepost_id, value: @cafepost.id %>
      <br>
      <%= f.submit 'コメントする', class: "btn btn-comment" %>
    <% end %>
  <% end %>
    </div>
    
    <div id="tab02">
        <div id="map"></div>
    </div>
  </div>
  
  
  
  
</div>


<script type="text/javascript">
$(document).on('turbolinks:load', 
  function initMap() {
    var test = {lat: <%= @cafepost.latitude %>, lng: <%= @cafepost.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15, 
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentHTML = '<p><%= @cafepost.title%></p><p>場所：<%= @cafepost.address_all %></p>';
    var infowindow = new google.maps.InfoWindow({
      content: contentHTML
    });

    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentHTML
                 });

     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  });
</script>

