      <ul class="users row d-flex">
        <% @users.each do |user| %>
          <li class="user col-md-6">
            <%= link_to user do %>
              <div class="user-left">
                <% if user.image.url.nil? %>
                <%= image_tag 'noimage.png' %>
                <% else %>
                <%= image_tag user.image.profile_image.url %>
                <% end %>
              </div>
              <div class="user-right">
                <p class="user-right-name"><%= user.name %></p>
                <p><%= user.detail %></p>
                
                <%  if current_user && current_user.admin? %>
                <%= link_to user, method: :delete, data: { confirm: "本当に削除しますか？" } do %>
                <%= icon('fas', 'trash-alt icon-m') %>
                <% end %>
                <% end %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>