<div class="signup form-wrapper">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/errors', object: f.object %>
    <div id="img_field" onClick="$('#file').click()" >
      <% if @user.image.url.present? %>
        <%= image_tag(@user.image.url) %>
      <% else %>
        <i class="fas fa-image"></i><i class="fas fa-file-upload add"></i>
      <% end %>
    </div>
    <%= f.file_field :image, id: "file" %>
    <dl>
      <dt>ユーザー名<span>*</span></dt>
      <dd><%= f.text_field :name %></dd>
    </dl>
    <dl>
      <dt>メールアドレス<span>*</span></dt>
      <dd> <%= f.email_field :email %></dd>
    </dl>
    <dl>
      <dt>自己紹介<span>*</span></dt>
      <dd><%= f.text_field :detail %></dd>
    </dl>
    <dl>
      <dt>パスワード<span>*</span></dt>
      <dd><%= f.password_field :password %></dd>
    </dl>
    <dl>
      <dt>パスワード（確認）<span>*</span></dt>
      <dd><%= f.password_field :password_confirmation %></dd>
    </dl>
    <div class="text-center">
    <%= f.submit "登録する", class: "btn btn-register" %>
    </div>
    <% end %>
</div>