<div class="container">
  <%= render 'relationships/follow_btn', user: @user %>
  <div class="profile-wrapper">
    <div class="profile-left">
      <% if @user.image.url.nil? %>
      <%= image_tag 'noimage.png' %>
      <% else %>
      <%= image_tag @user.image.url %>
      <% end %>
    </div>
    <div class="profile-right">
      <div class="profile-right-upper">
        <div class="user-name"><%= @user.name %></div>
        <div>フォロー<%= @user.followings.count %>  フォロワー<%= @user.followers.count %></div>
      </div>
      <div class="user-detail"><%= @user.detail %></div>
      <div>投稿数<%= @cafeposts.count %></div>
    </div>
  </div>
  
  <% if @user.cafeposts.any? %>
  <div class="container">
    <ul class="post-items">
    <%= render @cafeposts %>
    </ul>
    <%= paginate @cafeposts %>
  </div>
  <% end %>
</div>
