<div class="container">
  <% if logged_in? %>
  <%= render 'relationships/follow_btn', user: @user %>
  <% end %>
  <div class="profile-wrapper">
    <div class="profile-left">
      <% if @user.image.url.nil? %>
      <%= image_tag 'noimage.png' %>
      <% else %>
      <%= image_tag @user.image.profile_image.url %>
      <% end %>
    </div>
    <div class="profile-right">
      <div class="profile-right-upper">
        <div class="user-name"><%= @user.name %></div>
        <a href="<%= followings_user_path(@user)%>">フォロー<%= @user.followings.count %></a>
        <a href="<%= followers_user_path(@user)%>">フォロワー<%= @user.followers.count %></a>
      </div>
      <div class="user-detail"><%= @user.detail %></div>
      <div>投稿数<%= @cafeposts.count %></div>
    </div>
  </div>
  
  <ul class="tabnav">
    <li><a href="#tab01">投稿記事</a></li>
    <li><a href="#tab02">お気に入り</a></a></li>
  </ul>
  <div class="tabcontent">
    <div id="tab01">
    <% if @user.cafeposts.any? %>
      <ul class="post-items">
        <%= render @cafeposts %>
      </ul>
    <%= paginate @cafeposts %>
    <% end %>
    </div>
    <div id="tab02">
      <ul class="post-items">
        <%= render @favorite_posts %>
      </ul>
    </div>
  </div>
</div>