  <div class="top">
    <div class="top-wrapper">
      <div class="copy">
        <h2>ノマドカフェを見つけよう・共有しよう</h2>
        <p>勉強しようと思ってカフェに入ったけど、Wifi・コンセントがない...<br>そんな経験から生まれたサービスです</p>
      </div>
      <div class="guest-btn">
        <%= link_to 'ゲストユーザーログイン', guest_login_path, class: 'btn', method: :post %>
      </div>
      <div class="login-register">
        <%= link_to 'ログイン', login_path, class: 'btn btn-login' %>
        <%= link_to '新規登録', signup_path, class: 'btn btn-register' %>
      </div>
    </div>
  </div>
  
  <div class="container">
  <h1 class="head">ノマドカフェを探す</h1>
  <%= render 'cafeposts/search_form' %>

  <ul class="tabnav">
    <li><a href="#tab01">新着カフェ</a></li>
    <li><a href="#tab02">人気カフェ</a></a></li>
  </ul>
  <div class="tabcontent">
    <div id="tab01">
      <ul class="post-items">
        <%= render @cafeposts %>
    
      </ul>
      <%= paginate @cafeposts %>
    </div>
    
    <div id="tab02">
      <ul class="post-items">
        <%= render @favorite_ranks %>
      </ul>
    </div>
  </div>
</div>