<!DOCTYPE html>
<html>
  <head>
    <title>Nomady</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# google map %>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDms08Vg-4t136yIMuX6XJROiWOfKHmCBM"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>
    <%= favicon_link_tag('favicon.ico') %>
  </head>
  <header>
    <div class="container header-wrapper">
      <div class="header-left">
        <%= link_to 'Nomady', root_path %>
      </div>
      <div class="header-right">
        <ul class="header-nav globalnav">
          <% if logged_in? %>
          <li class="header-nav-item"><%= link_to "ユーザー一覧", users_path %></li>
          <li class="header-nav-item"><%= link_to "カフェ一覧", "/cafeposts" %></li>
          <li class="header-nav-item"><%= link_to "マップから探す", "/cafeposts/gmap" %></li>
          <li class="header-nav-item">
            <%= link_to post_path do %>
            投稿  <%= icon('fas', 'paste') %>
            <% end %>
          </li>
          <li class="header-nav-item dropdown-btn"><%= image_tag current_user.image.to_s %>  <%= current_user.name %>  
            <ul class="dropdown">
              <li><%= link_to "マイページ", current_user %></li>
              <li><%= link_to "プロフィール設定", edit_user_path(current_user) %></li>
              <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
            </ul>
          </li>
          <% else %>
          <li class="header-nav-item"><%= link_to "ログイン", login_path %></li>
          <li class="header-nav-item"><%= link_to "ユーザー登録", signup_path %></li>
          <li class="header-nav-item"><%= link_to "ユーザー一覧", users_path %></li>
          <li class="header-nav-item"><%= link_to "カフェ一覧", "/cafeposts" %></li>
          <li class="header-nav-item"><%= link_to "マップから探す", "/cafeposts/gmap" %></li>
          <% end %>

        </ul>
      </div>
      <nav class="global-nav">
        <ul class="global-nav__list">
          <% if logged_in? %>
          <li class="global-nav__item"><%= link_to "ユーザー一覧", users_path %></li>
          <li class="global-nav__item"><%= link_to "カフェ一覧", "/cafeposts" %></li>
          <li class="global-nav__item"><%= link_to "近くのカフェ", "/cafeposts/gmap" %></li>
          <li class="global-nav__item">
            <%= link_to post_path do %>
            投稿  <%= icon('fas', 'paste') %>
            <% end %></li>
          <li class="global-nav__item dropdown-btn"><%= image_tag current_user.image.to_s %>  <%= current_user.name %>
            <ul class="dropdown">
              <li><%= link_to "マイページ", current_user %></li>
              <li><%= link_to "プロフィール設定", edit_user_path(current_user) %></li>
              <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
            </ul>
          </li>
          <% else %>
          <li class="global-nav__item"><%= link_to "ログイン", login_path %></li>
          <li class="global-nav__item"><%= link_to "ユーザー登録", signup_path %></li>
          <li class="global-nav__item"><%= link_to "ユーザー一覧", users_path %></li>
          <li class="global-nav__item"><%= link_to "カフェ一覧", "/cafeposts" %></li>
          <li class="global-nav__item"><%= link_to "近くのカフェ", "/cafeposts/gmap" %></li>
          <% end %>
        </ul>
      </nav>
      <div class="hamburger" id="js-hamburger">
        <span class="hamburger__line hamburger__line--1"></span>
        <span class="hamburger__line hamburger__line--2"></span>
        <span class="hamburger__line hamburger__line--3"></span>
      </div>
      <div class="black-bg" id="js-black-bg"></div>
    </div>
    <script type="text/javascript">
      function toggleNav() {
      var body = document.body;
      var hamburger = document.getElementById('js-hamburger');
      var blackBg = document.getElementById('js-black-bg');
    
      hamburger.addEventListener('click', function() {
        body.classList.toggle('nav-open');
      });
      blackBg.addEventListener('click', function() {
        body.classList.remove('nav-open');
      });
    }
    toggleNav();
    </script>
  </header>
  <body>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
  </body>
  <div class="footer-wrapper">
    <footer>
      <div class="container">
        <p class="copy-right">Copyrignt(C) 2020 Nomady ALL Rights Reserved.</p>
        <a style="font-size: 8px; float: right; color: #fff;" href="https://icons8.com/icon/115630/カフェ">カフェ icon by Icons8</a>
      </div>
    </footer>
  </div>
</html>
