<!DOCTYPE html>
<html>
  <head>
    <title>Nomady</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# google map %>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDms08Vg-4t136yIMuX6XJROiWOfKHmCBM&callback=initMap"></script>

  </head>
  <header>
    <div class="container header-wrapper">
      <div class="header-left">
        <%= link_to 'Nomady', '/cafeposts' %>
      </div>
      <div class="header-right">
        <ul class="header-nav globalnav">
          <% if logged_in? %>
          <li class="header-nav-item"><%= link_to "ユーザー一覧", users_path %></li>
          <li class="header-nav-item"><%= link_to "近くのカフェ", "/cafeposts/gmap" %></li>
          <li class="header-nav-item">
            <%= link_to post_path do %>
            投稿  <%= icon('fas', 'paste') %>
            <% end %>
          </li>
          <li class="header-nav-item dropdown-btn"><%= current_user.name %>  <%= image_tag current_user.image.profile_top.url %>
            <ul class="dropdown">
              <li><%= link_to "マイページ", current_user %></li>
              <li><%= link_to "プロフィール設定", edit_user_path(current_user) %></li>
              <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
            </ul>
          </li>
          <% else %>
          <li class="header-nav-item"><%= link_to "ログイン", login_path %></li>
          <li class="header-nav-item"><%= link_to "ユーザー登録", signup_path %></li>
          <li class="header-nav-item"><%= link_to "ユーザー一覧", users_path %></li>
          <li class="header-nav-item"><%= link_to "近くのカフェ", "/cafeposts/gmap" %></li>
          <% end %>

        </ul>
      </div>
    </div>
  </header>
  <body>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
  </body>
  <div class="footer-wrapper">
    <footer>
      <div class="container">
        <p class="copy-right">Copyrignt(C) 2020 Nomady ALL Rights Reserved.</p>
      </div>
    </footer>
  </div>
</html>
